*
{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
button:focus
{
outline:0;
}
div:focus
{
    outline: none;
}
img:focus
{
    outline: none;
}
html
{
     scroll-behavior: smooth;
}
a
{
    text-decoration: none;
    list-style: none;
    color: white;
}
a:hover
{
    text-decoration: none;
    list-style: none;
    color: white;
}
body
{
    font-family: 'Montserrat', sans-serif;
    background: rgb(248,248,255);
    overflow-x: hidden;
  
}
.navbar
{
background:#ffff;
    z-index: 10000000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 0 !important;
    padding: 0 !important;
    
}
.nav-fixx
{
    opacity: 0;
}
.nav-logo
{
    margin-left: 150px;
}

.nav-list
{
    margin-right: 150px;
    position: relative;
    top: -12px;
}

.nav-list li a
{
    color: #3F3F3F!important;
    font-size: 18px;
    font-weight: 700;
    transition: color 0.2s ease-in-out;
    overflow-y: hidden;
    
}
.list
{
   
    position: relative;
    overflow: hidden;
}
.list:after
{
    content: "";
    height: 2px;
    width: 100%;
    background: #5CB98C;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    transform: translateX(-101%);
}

.list:hover::after
{
transition: transform 0.4s ease;
 transform: translateX(0%);
}

.backLine:after
{
    transition: transform 0.4s ease;
 transform: translateX(100%);
}



.carousel-inner{
  width:100vw;
  max-height: 100vh !important;
      
}
h1
{
    position: absolute;
    top: 30%;
    left: 5%;
    color: #ffff;
    transform: translate(-5%,40%);
    font-size: 50px;
    line-height: 60px;
    opacity: 0;
}
h5
{
    position: absolute;
    top: 35%;
    left: 5%;
    color: #ffff;
    transform: translate(-5%,40%);
    font-size: 50px;
    line-height: 60px;
}
h6
{
    position: absolute;
    top: 30%;
    left: 5%;
    color: #ffff;
    transform: translate(-5%,40%);
    font-size: 50px;
    line-height: 60px;
}
.span-2
{
    color: #00A86B;
}

#section-ii
{
    height: auto;
    width: 100vw;
    padding: 100px 0px;
    
}



.section-ii-container
{
    margin: auto;
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-ii-text
{
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding-right: 5rem;
  
}
.section-ii-text-layer,.section-ii-img-layer
{
    position: absolute;
    top: 0;
    left: 0;
   background:rgb(248,248,255);
    height: 100%;
    width: 100%;
    overflow: hidden;
    
}
.section-ii-img
{
   flex: 1;
    position: relative;
    overflow: hidden;
 
}

.section-ii-text h2
{
    font-weight:800;
    font-size: 25px;
    color:white;
    line-height: 60px;
    background: #37B599;
   padding-left: 7px;
   max-width: 620px;
    border-radius: 12px;
}

.section-ii-text p
{
     color: black;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    overflow: hidden;
    padding-top: 50px;

}

#section-iii
{
    height: auto;
    width: 100%;
    margin: auto;
    background:	#37B599 ;
}


.animals-container
{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
  
    
}

.animals-p h3
{
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    color: #F5F5F1;
}

.animals-p p
{
    font-size: 22px;
    line-height: 70px;
    color: #F5F5F1;
}

.animals-div
{
   
    height: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: auto;
}

.svgs
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.svgs svg
{
    width: 250px;
    height: 250px;
    text-align: center;
    fill:transparent;
    stroke: #F5F5F1;
    stroke-width:6px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.svgs p
{
  color: #F5F5F1;
    font-size: 20px;
    font-weight: 700;
}

.svgs svg:hover
{
    fill:#F5F5F1;
}


#section-iv
{
    height: 100vh;
    margin: auto;
     
   
}
.products-gallery
{
    height: 100%;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-areas: 
        "h2 h2 h2 h2 h2 h2"
        "rawMaterialsAndPremixes rawMaterialsAndPremixes gutHealthManagement gutHealthManagement gutHealthManagement toxinsManagement"
        "rawMaterialsAndPremixes rawMaterialsAndPremixes gutHealthManagement gutHealthManagement gutHealthManagement toxinsManagement"
        "vetsSolutions vetsSolutions feedManagment feedManagment feedManagment feedManagment "
         "vetsSolutions vetsSolutions feedManagment feedManagment feedManagment feedManagment"
         "vetsSolutions vetsSolutions feedManagment feedManagment feedManagment feedManagment";
}

#section-iv h2
{
  
      font-size: 50px;
    line-height: 70px;
    font-weight: 700;
    color: #37B599;
    text-align: center;
    grid-area: h2;
    padding-top: 50px;
}

.feed-managment
{
    
    grid-area: feedManagment;
    background: #D30557;
    margin: 6px;
    position: relative;
    
}
.products-img
{
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: all 0.3s ease;
}
.products-layer
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
     border: solid 10px #624A25;
}
.products-layer p
{
    color: white;
    position: absolute;
    bottom: 0;
    left: 5px;
    font-size: 22px;
    line-height: 34px;
}
.feed-span
{
   
    font-size: 28px;
    font-weight: 600;
   
}
.view-products
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    color: white;
    transition: all 0.5s ease;
    background: #624A25 !important;
    border: #624A25;
}
.view-products:focus
{
    outline: none  !important;
  box-shadow: none !important;
}
.feed-managment:hover .view-products
{
    opacity: 1;
    cursor: pointer;
}
.feed-managment:hover .products-img
{
    filter: blur(4px);
  -webkit-filter: blur(4px);
    
}
.gutHealthManagement
{
    grid-area: gutHealthManagement;
    background: #00ABA5;
    position: relative;
    margin: 6px;
}

.products-layer-i
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
     border: solid 10px #008081;
    
}
.products-layer-i p
{
    color: white;
    position: absolute;
      bottom: 0;
     left: 5px;
     font-size: 22px;
    line-height: 34px;
}
.view-products-i
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    color: white;
    transition: all 0.5s ease;
    background:  #008081 !important;
    border:  #008081;
}
.view-products-i:focus
{
    outline: none  !important;
  box-shadow: none !important;
}
.gutHealthManagement:hover .view-products-i
{
    opacity: 1;
    cursor: pointer;
}
.gutHealthManagement:hover .products-img
{
    filter: blur(4px);
  -webkit-filter: blur(4px);
    
}
.toxinsManagement
{
    grid-area:toxinsManagement;
    background:#009977;
    margin: 6px;
    position: relative;
}


.products-layer-ii
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
     border: solid 10px #2C2C31;
}
.products-layer-ii p
{
    color: white;
    position: absolute;
      bottom: 0;
     left: 5px;
     font-size: 22px;
    line-height: 34px;
}
.view-products-ii
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    color: white;
    transition: all 0.5s ease;
    background: #2C2C31 !important;
    border: #2C2C31;
}
.view-products-ii:focus
{
    outline: none  !important;
  box-shadow: none !important;
}
.toxinsManagement:hover .view-products-ii
{
    opacity: 1;
    cursor: pointer;
}
.toxinsManagement:hover .products-img
{
    filter: blur(4px);
  -webkit-filter: blur(4px);
    
}

.vetsSolutions
{
    grid-area:vetsSolutions;
    background:#EA6601;
    margin: 6px;
    position: relative;
    
}
.products-layer-v
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
     border: solid 10px #CBAB87;
}
.products-layer-v p
{
    color: white;
    position: absolute;
      bottom: 0;
    left: 5px;
   font-size: 22px;
    line-height: 34px;
}
.view-products-v
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    color: white;
    transition: all 0.5s ease;
    background:#CBAB87 !important;
    border: #CBAB87;
}
.view-products-v:focus
{
    outline: none  !important;
  box-shadow: none !important;
}
.vetsSolutions:hover .view-products-v
{
    opacity: 1;
    cursor: pointer;
}
.vetsSolutions:hover .products-img
{
    filter: blur(4px);
  -webkit-filter: blur(4px);
    
}


.rawMaterialsAndPremixes
{
      grid-area:rawMaterialsAndPremixes;
    background:#FF8961;
    margin: 6px;
    position: relative;
}

.products-layer-iii
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
     border: solid 10px #C0C0C0;
}
.products-layer-iii p
{
    color: white;
    position: absolute;
      bottom: 0;
    left: 5px;
    font-size: 22px;
    line-height: 34px;
}
.view-products-iii
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    color: white;
    transition: all 0.5s ease;
    background:#C0C0C0 !important;
    border:#C0C0C0;
}
.view-products-iii:focus
{
    outline: none  !important;
  box-shadow: none !important;
}
.rawMaterialsAndPremixes:hover .view-products-iii
{
    opacity: 1;
    cursor: pointer;
}
.rawMaterialsAndPremixes:hover .products-img
{
    filter: blur(4px);
  -webkit-filter: blur(4px);
    
}












footer
{
    margin-top: 50px;
    height:auto;
    background:#37B599;
    color: #F5F5F1;
}

.footer-container
{
    width: 80%;
    margin: auto;
   
}
ul
{
    padding-top: 20px;
}
ul li
{
    list-style: none;
    text-decoration: none;
    padding: 3px;
    font-size: 14px;
}
.links:hover
{
    text-decoration: none;
    list-style: none;
     color: #F5F5F1;
    
}
.links
{
    color: #F5F5F1;
}






#feed
{
    height: auto;
    width: 100%;
    padding-top: 60px;
   
}
.feed-img
{
    height: 50%;
    background-image: url(imgs/Grunpunket-08.jpg);
    background-size: 100% 100%;  
    background-repeat: no-repeat;
       filter: blur(1px);
  -webkit-filter: blur(1px);
    position: relative;
    
}
.feed-img-gut
{
     height: 50%;
    background-image: url(imgs/Grunpunket-11.jpg);
    background-size: 100% 100%;  
    background-repeat: no-repeat;
       filter: blur(1px);
  -webkit-filter: blur(1px);
    position: relative; 
}
.feed-img-toxins
{
     height: 50%;
    background-image: url(imgs/Grunpunket-12.jpg);
    background-size: 100% 100%;  
    background-repeat: no-repeat;
       filter: blur(1px);
  -webkit-filter: blur(1px);
    position: relative; 
}
.feed-img-vets
{
     height: 50%;
    background-image: url(imgs/Grunpunket-13.jpg);
    background-size: 100% 100%;  
    background-repeat: no-repeat;
       filter: blur(1px);
  -webkit-filter: blur(1px);
    position: relative; 
}
.feed-img-raw
{
     height: 50%;
    background-image: url(imgs/Grunpunket-14.jpg);
    background-size: 100% 100%;  
    background-repeat: no-repeat;
       filter: blur(1px);
  -webkit-filter: blur(1px);
    position: relative; 
}
.feed-layer
{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
}
.feed-img-container
{
    position:relative;
}
.feed-container
{
    height:auto;
    width: 90%;
    margin: auto;
    padding-top: 50px;
}

.feed-h2
{
    
    font-size: 40px;
    font-weight: 900;
    bottom: 120px;
left: 10px;
    color: white;
  position: absolute;
  
}
.toxins-h2-fix
{
       bottom: 150px;
left: 10px;
  position: absolute; 
}
.vets-h2-fix
{
       bottom: 105px;
left: 10px;
  position: absolute; 
}
.feed-p
{
    width: 600px;
    bottom:0;
left:10px;
    color: white;
  position: absolute; 
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
.gut-p-fix
{
   position: absolute;  
    bottom:12%;
}

.product-i ul
{
   
    margin: 0;
    padding: 0;
    
}
.product-i ul li
{
color:#624A25;
 
}
.dot
{
    font-size: 40px;
    line-height: 10px;
}
.product-fix
{
    opacity: 0;
}
.product-container
{
    display: flex;
 
   
}

.product-i
{
   
    flex: 1;
    margin: 0px 10px;
    padding: 5px;
    border: solid 5px   #624A25 ;
    position: relative;
    padding-bottom: 100px;
    transform: scale(0.9);
    transition: all 0.5s ease;
}
.product-i:hover
{
    transform: scale(1);
    box-shadow: 6px 6px 6px gray;
}
.product-p
{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    background:  #624A25 ;
    color: white;
     font-size:40px;
    font-weight: 600;
    padding: 1px 30px;
    border: solid 5px rgb(248,248,255);
    border-radius: 12px;
}

.products-row
{
    display: flex;

}

.products-row p
{
   flex: 1;
    background:  #624A25 ;
    margin: 0px 5px;
    color: white;
    padding: 3px;
    font-size: 14px;
    text-align: center;
}

.wave-container
{
    position: absolute;
    left: -0.3%;
    bottom: 0;
    width: 60%;
    height:40%;
    overflow: hidden;
}
.upper-wave-container
{
    position: absolute;
    right: -0.2%;
    top: -0.3%;
    width: 50%;
    height:20%;
    overflow: hidden;
}
.upper-product-wave-img
{
    width: 400px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(33%,-36%);
}

.product-wave-img
{
    width: 400px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-10%,25%);
}
.vets-wave-fix
{
   transform: translate(-12%,25%);  
}
.raw-wave-fix
{
   transform: translate(-15%,25%);  
}
.feed-wave-fix
{
    transform: translate(-12%,25%);  
}
.down-logo
{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 300px;
    transform: translate(30%,35%);
}
.upper-logo
{ 
    position: absolute;
    left: 0;
    top: 0;
    width: 240px;
    transform: translate(-42%,-37%);
    
}
.upper-logo-left
{
    position: absolute;
    right: 0;
    top: 0;
    width: 240px;
    transform: translate(42%,-37%);  
}
.down-logo-left
{
      position: absolute;
    left: 0;
    bottom: 0;
    width: 300px;
    transform: translate(-30%,35%); 
}
.wave-container-left
{
     position: absolute;
    right: -0.3%;
    bottom: 0;
    width: 60%;
    height:40%;
    overflow: hidden;  
}

.product-wave-img-left
{
  width: 400px;
    position: absolute;
    bottom: 0;
    right: 0;
      transform: translate(10%,25%);
}
.feed-wave-fix-left
{
    transform: translate(12%,25%);  
}
.vets-wave-fix-left
{
         transform: translate(12%,25%);
}
.raw-wave-fix-left
{
      transform: translate(15%,25%);
}
.upper-wave-container-left
{
     position: absolute;
    left: -0.2%;
    top: -0.3%;
    width: 50%;
    height:20%;
    overflow: hidden;
  
}

.upper-product-wave-img-left
{
    width: 400px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-33%,-36%);
}


.product-i-gut
{
   border: solid 5px #008081; 
}
.product-p-gut
{
    background: #008081;
}
.products-row-gut p
{
      background: #008081;
}

.product-i-toxins
{
   border: solid 5px #2C2C31; 
}
.product-p-toxins
{
    background: #2C2C31;
}
.products-row-toxins p
{
      background: #2C2C31;
}

.product-i-vets
{
   border: solid 5px #CBAB87; 
}
.product-p-vets
{
    background: #CBAB87;
}
.products-row-vets p
{
      background: #CBAB87;
}


.product-i-raw
{
   border: solid 5px #C0C0C0 ; 
}
.product-p-raw
{
    background: #C0C0C0 ;
}
.products-row-raw p
{
      background: #C0C0C0 ;
}
.product-p-raw-fix
{
    font-size: 26px;
}

#about
{
    height:auto;
    width: 100%;
    padding-top: 100px;
   text-align: center;
}

.about-h
{
    font-weight: 700;
    font-size: 40px;
    color: #37B599; 
    padding-bottom: 30px;
}
.about-p
{
    line-height: 32px;
}
.more-about
{
    height: auto;
    width: 80%;
    display: flex;
    margin: auto;
    padding-top: 50px;
}

.about-i
{
    flex: 1;
   margin: 10px;
    border: solid 4px #37B599;
}
.about-h3
{
 font-weight: 700;
    font-size: 28px;
    color: #37B599; 
    padding-top: 5px;
}
.about-i p
{
line-height: 28px;
 
}
.about-i-fix
{
    opacity: 0;
}
.grunpunkt
{
    font-weight: 700;
    font-size: 20px;
    color: #37B599;
}

#contact
{
   height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-p
{
    color: #3F3F3F;
}
.contact-p:hover
{
    color: #3F3F3F;
}

@media(max-width:600px)
{
    .carousel-item img
    {
        height: 50vh !important;
        object-fit: cover;
        
    }
    #section-ii
    {
        height: auto;
    }
    #section-iv
    {
        height: auto;
    }
    .about-height
    {
        height: auto;
    }
    .footer-fix
    {
        padding-left: 0 !important;
    }
}
@media (max-width:1000px)
{
    html,body{
    overflow-x: hidden;
}
   .nav-logo img
    {
        
        height: 4vh;
       object-fit: contain;
    }
    .nav-logo img
    {
        position: absolute;
        top: 2px;
        left: -70px;
    }
    .list:after
{
   
    width: 100px;
  
}
    .carousel-item img
    {
       
      object-fit:cover;
        width: 100vw !important;
      
    }
    .about-response
    {
        padding-top: 60px;
        height: auto;
    }
    h1
    {
        font-size: 30px;
       top:  50%;
        line-height: 30px;
    }
  h5
    {
      font-size: 30px;
       top:  50%;
        line-height: 30px;  
    }
    h6
    {
        font-size: 30px;
       top:  50%;
        line-height: 30px;
    }
    .section-ii-img
    {
      display: none;
    }
     .section-ii-text
    {
        padding: 25px;
        display: inline-block;
        overflow: hidden;
        max-height: 100%;
    }
    .section-ii-text p
    {
        font-size: 12px;
    }
    .section-ii-text h2
    {
        font-size: 14px;
        line-height: 14px;
        text-shadow: none;
    }
    
    .svgs svg
    {
        width: 100px;
        height: 100px;
    }
    .svgs p
    {
      font-size: 12px;
    }
    .slider-div img
    {
       height: 150px;
        width: 150px;
    }
    .slick-dots
    {
        top: 0px;
    }
    .slider-div p
    {
       font-size: 12px; 
        margin-left: 18px;
    }
    #section-iv
    {
        height: auto;
    }
    .nav-list
    {
      top: -15px;  
    }
    .products-i-img
    {
        display: none;
    }
    .products-i-p h2
    {
        font-size: 14px;
        line-height: 14px; 
    }
    .products-i-p p
    {
        font-size: 14px;
         
    }
    .punacid-p
    {
        font-size: 12px;
    }
    .about-h
    {
        font-size: 14px; 
        line-height: 14px; 
    }
    .about-p
    {
      font-size: 14px; 
       
      
    }
    .about-svg
    {
        display: none;
    }
    .contact-fix-i
    {
        display: none;
    }
    .contact-fix-ii
    {
        display: block;
    }
    .maps-response
    {
        width: 250px;
        height: 300px;
    }
    .about-height
    {
       height: auto;
    }
    .grunpunkt
    {
        font-size: 12px;
    }
   
    .feed-h2
    {
        font-size: 34px;
bottom: 20px;
left: 10px;
    color: white;
  position: absolute;
    }
     .feed-p
    {
        display: none;
    }
        .product-p
    {
        font-size: 16px;
        padding: 0;
    }
    .products-row p
    {
        font-size: 12px;
    }
    .product-i
{
   
    flex: 1;
    margin: 0px 5px;
    padding: 3px;
    border: solid 3px   #624A25 ;
    position: relative;
    padding-bottom: 100px;
    transform: scale(0.9);
    transition: all 0.5s ease;
}
 .product-i-gut
{
  
    border: solid 3px  #008081;
    
}
 .product-i-toxins
{
   border: solid 3px #2C2C31; 
} 
.product-i-vets
{
   border: solid 3px #CBAB87; 
}
 .product-i-raw
{
   border: solid 3px #C0C0C0 ; 
}
.product-p-raw-fix
    {
        text-align: center;
    }
    #feed
{
    height: auto;
    width: 100%;
    padding-top: 10px;
   
}
    
    .products-layer p
    {
       font-size: 8px; 
        line-height: 16px;
    }
     .products-layer-i p
    {
       font-size: 8px; 
        line-height: 16px;
    }
     .products-layer-ii p
    {
       font-size: 8px; 
     
          left: 1px;
    }
     .products-layer-iii p
    {
       font-size: 8px; 
        line-height: 16px;
      
    }
     .products-layer-v p
    {
       font-size: 8px; 
        line-height: 16px;
    }
      .products-layer p span
    {
       font-size: 8px;
    }
 .products-layer-i p span
    {
       font-size:   10px;
    }
         .products-layer-ii p span
    {
        display: none;
      
    }
         .products-layer-iii p span
    {
        font-size: 10px;
    }
         .products-layer-v p span
    {
       font-size: 10px;
    }
    .view-products
    {
        font-size: 10px;
    }
    .view-products span
    {
        display: none;
    }
     .view-products-i
    {
        font-size: 10px;
    }
    .view-products-i span
    {
        display: none;
    }
     .view-products-ii
    {
        font-size: 10px;
       
    }
    .view-products-ii span
    {
        display: none;
    }
     .view-products-iii
    {
        font-size: 10px;
    }
    .view-products-iii span
    {
        display: none;
    }
     .view-products-v
    {
        font-size: 10px;
    }
    .view-products-v span
    {
        display: none;
    }
    .products-gallery
{
    height: 100%;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-areas: 
        "h2 h2 h2 h2 h2 h2"
        "rawMaterialsAndPremixes rawMaterialsAndPremixes gutHealthManagement gutHealthManagement  toxinsManagement toxinsManagement"
        "rawMaterialsAndPremixes rawMaterialsAndPremixes gutHealthManagement gutHealthManagement  toxinsManagement toxinsManagement"
        "vetsSolutions vetsSolutions feedManagment feedManagment feedManagment feedManagment "
         "vetsSolutions vetsSolutions feedManagment feedManagment feedManagment feedManagment"
         "vetsSolutions vetsSolutions feedManagment feedManagment feedManagment feedManagment";
}
    
    
    .more-about
{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 50px;
}
    .about-i-fix-response
    {
        padding-top: 2px;
        margin-top: 0px;
    }
}


@media (max-width:1200px)
{
    
    .products-i-img img
    {
       width: 300px;
        height: 300px;
    }
    .products-i-p h2
    {
        font-size: 14px;
        line-height: 14px; 
    }
    .products-i-p p
    {
        font-size: 14px;
         
    } 

}










