*
{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
button:focus
{
outline:0;
}
div:focus
{
    outline: none;
}
img:focus
{
    outline: none;
}
html
{
     scroll-behavior: smooth;
}
body
{
    font-family: 'Montserrat', sans-serif;
    background: rgb(248,248,255);
    overflow-x: hidden;
}
.navbar
{
background:#ffff;
    z-index: 10000000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 0;
    padding: 0;
   
}
.nav-logo
{
    margin-left: 150px;
}

.nav-list
{
    margin-right: 150px;
    position: relative;
    top: -12px;
}

.nav-list li a
{
    color: #3F3F3F!important;
    font-size: 18px;
    font-weight: 700;
    transition: color 0.2s ease-in-out;
    
}
.nav-list li a:hover
{
   color: #9FD6BB !important;
    border-bottom: solid 2px #9FD6BB ;
   
}



.carousel-inner{
  width:100vw;
  max-height: 100vh !important;
    
}
h1
{
    position: absolute;
    top: 40%;
    left: 5%;
    color:  #ffff;
    transform: translate(-5%,40%);
    font-size: 70px;
    line-height: 80px;
}

#section-ii
{
    height: 100vh;
    width: 100vw;
   
}



.section-ii-container
{
    margin: auto;
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-ii-text
{
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding-right: 5rem;
}
.section-ii-text-layer,.section-ii-img-layer
{
    position: absolute;
    top: 0;
    left: 0;
    background:rgb(248,248,255);
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.section-ii-img
{
   flex: 1;
    position: relative;
    overflow: hidden;
   
}

.section-ii-text h2
{
    font-weight: 700;
    color: #3F3F3F;
    line-height: 80px;
    text-shadow: 1px 1px 2px #3F3F3F;
}

.section-ii-text p
{
     color: #3F3F3F;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    overflow: hidden;
}

#section-iii
{
    height: auto;
    width: 100%;
    margin: auto;
    background:	#37B599 ;
}


.animals-container
{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
  
    
}

.animals-p h3
{
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    color: #F5F5F1;
}

.animals-p p
{
    font-size: 22px;
    line-height: 70px;
    color: #F5F5F1;
}

.animals-div
{
   
    height: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: auto;
}

.svgs
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.svgs svg
{
    width: 250px;
    height: 250px;
    text-align: center;
    fill:transparent;
    stroke: #F5F5F1;
    stroke-width:6px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.svgs p
{
  color: #F5F5F1;
    font-size: 20px;
    font-weight: 700;
}

.svgs svg:hover
{
    fill:#F5F5F1;
}


#section-iv
{
    height: 100vh;
    margin: auto;
    text-align: center;   
}


#section-iv h2
{
   margin-top: 80px;
      font-size: 50px;
    line-height: 70px;
    font-weight: 700;
    color: #3F3F3F;
    text-align: center;
}
.slider-div p
{
   color: #3F3F3F;
    font-size: 20px;
    font-weight: 700; 
}
.slider-div img
{
    height: 500px;
    width: 500px;
    object-fit: cover;
    cursor: pointer;
    
}

.slick-dots
{
  position: relative;
    top: 20px;
}
.slick-dots li.slick-active button:before, .slick-dots li button:before {
    color: dimgray;
    opacity: 1;
    font-size: 16px;
}
.slick-dots li.slick-active button {
    border: 5px solid #9FD6BB;
    border-radius: 100%;
}
.slick-dots li.slick-active button:before {
    color: transparent;
}


footer
{
    height:auto;
    background:#37B599;
    color: #F5F5F1;
}

.footer-container
{
    width: 80%;
    margin: auto;
   
}
ul
{
    padding-top: 30px;
}
ul li
{
    list-style: none;
    text-decoration: none;
    padding: 5px;
}
.links:hover
{
    text-decoration: none;
    list-style: none;
     color: #F5F5F1;
    
}
.links
{
    color: #F5F5F1;
}






#products-i
{
    height: 100vh;
    padding: 50px;
    width: 100%;
}

.products-i-container
{
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
   
}


.products-i-img img
{
    height: 600px;
    width: 600px;
    object-fit: cover;
    
}


.about-svg
{
    height: 400px;
    width: 400px;
}
.lamp-1st-row
{
    fill:transparent;
    animation: rowi 4s infinite ease-in-out;
    
   
}
.lamp-2nd-row
{
      fill:transparent;
    animation: rowii 4s infinite ease-in-out;

}
.lamp-inner
{
    fill:transparent; 
       animation: lampinner 4s infinite ease-in-out;
}
.lamp-left-light
{
    fill:transparent; 
    animation: leftlamp 4s infinite ease-in-out;
}

.lamp-right-light
{
    fill:transparent;
      animation: rightlamp 4s infinite ease-in-out;
}
.lamp-half-light
{
    fill:transparent; 
    animation: halflamp 4s infinite ease-in-out;
}
.contact-p
{
    color: #3F3F3F;
}
.contact-p:hover
{
    color: #3F3F3F;
}
@keyframes rowi
{
   
    20%,100%
    {
      fill: #9FD6BB ;  
        transform: translate(-271.4624px, -58.94488px);
       
    }
}

@keyframes rowii
{
   
    20%,100%
    {
      fill: #9FD6BB ;  
        transform: translate(-271.4624px, -58.94488px);
       
    }
}
@keyframes lampinner
{
   
    40%,100%
    {
      fill: #9FD6BB ;  
        
       
    }
}
@keyframes leftlamp
{
   
    70%,100%
    {
      fill: #9FD6BB ;  
         transform: translate(-271.4624px, -58.94488px);
       
    }
}
@keyframes rightlamp
{
   
    70%,100%
    {
      fill: #9FD6BB ;  
         transform: translate(-271.4624px, -58.94488px);
       
    }
}
@keyframes halflamp
{
   
    60%,100%
    {
      fill: #9FD6BB ;  
         transform: translate(-271.4624px, -58.94488px);
       
    }
}


@media (max-width:1000px)
{
    html,body{
    overflow-x: hidden;
}
   .nav-logo img
    {
        height: 40px;
    }
    .carousel-item img
    {
        height: 50vh !important;
      object-fit:cover;
      
    }
    
    h1
    {
        font-size: 30px;
       top:  40%;
        line-height: 30px;
    }
   
    .section-ii-img
    {
      display: none;
    }
     .section-ii-text
    {
        padding: 20px;
        display: inline-block;
        overflow: hidden;
        max-height: 100%;
    }
    .section-ii-text p
    {
        font-size: 14px;
    }
    .section-ii-text h2
    {
        font-size: 14px;
        line-height: 14px;
    }
    
    .svgs svg
    {
        width: 100px;
        height: 100px;
    }
    .svgs p
    {
      font-size: 12px;
    }
    .slider-div img
    {
       height: 150px;
        width: 150px;
    }
    .slick-dots
    {
        top: 0px;
    }
    .slider-div p
    {
       font-size: 14px; 
        margin-left: 20px;
    }
    #section-iv
    {
        height: auto;
    }
    .nav-list
    {
      top: -15px;  
    }
    .products-i-img
    {
        display: none;
    }
    .products-i-p h2
    {
        font-size: 14px;
        line-height: 14px; 
    }
    .products-i-p p
    {
        font-size: 14px;
         
    }
    .punacid-p
    {
        font-size: 12px;
    }
    .about-h
    {
        font-size: 14px; 
        line-height: 14px; 
    }
    .about-p
    {
      font-size: 14px; 
       
      
    }
    .about-svg
    {
        display: none;
    }
    .contact-fix-i
    {
        display: none;
    }
    .contact-fix-ii
    {
        display: block;
    }
    .maps-response
    {
        width: 250px;
        height: 300px;
    }
}


@media (max-width:1200px)
{
    
    .products-i-img img
    {
       width: 300px;
        height: 300px;
    }
    .products-i-p h2
    {
        font-size: 14px;
        line-height: 14px; 
    }
    .products-i-p p
    {
        font-size: 14px;
         
    } 
}












